<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <div class="box">
    <p-header class="form-header">Sign in</p-header>
    <form [formGroup]="authForm" class="auth-form"> 

      <div class="p-field">
        <div class="p-float-label">
          <input id="userNameInput" class="input-customization" type="username" #username formControlName="username" pInputText> 
          <label for="userNameInput" class="label-input">Username</label>
        </div>
        <small *ngIf="authForm.controls.username.invalid" class="p-invalid alert alert-danger title-message">{{this.validator.getUsernameErrorMessage(this.authForm.controls['username'])}}</small>
      </div>

      <div class="p-field">
        <div class="p-inputgroup">
          <div class="p-float-label">
            <input id="passwordInput" type="password" #password formControlName="password" [type]="hide ? 'password' : 'text'" pInputText> 
            <label for="passwordInput">Password</label>
          </div>
          <button type="button" pButton icon="pi pi-eye" styleClass="p-button-warn" (click)="hide = !hide"></button> 
        </div>
        <small *ngIf="authForm.controls.password.invalid" class="p-invalid title-message">{{this.validator.getPasswordErrorMessage(this.authForm.controls['password'])}}</small>
      </div>

      <button pButton type="button" label="Forgot password?" class="p-button-link link-button-customization forgot-password"></button>

      <button pButton type="button" label="Sign In" class="p-button-outlined p-d-block p-mx-auto button-customization" (click)="signIn()"></button>      
      <button pButton type="button" label="Don`t have an account? Sign up now!" class="p-button-link p-d-block p-mx-auto link-button-customization" routerLink="/signup" routerLinkActive="active"></button>    
    </form>
  </div>
</div>
